node_modules/
coverage/
dist/
/package-lock.json
.env
.env.local
.env.*.local

PROJEKAT/bolnicki-sistem/client/node_modules/
PROJEKAT/bolnicki-sistem/client/coverage/
PROJEKAT/bolnicki-sistem/client/dist/

PROJEKAT/bolnicki-sistem/server/node_modules/
PROJEKAT/bolnicki-sistem/server/coverage/
PROJEKAT/bolnicki-sistem/server/dist/
